In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as mticks

import missingno as miss

import seaborn as sns
import numpy as np
# import statsmodels.tsa.api as tsa

pd.set_option('display.float_format',lambda x:f"{x:,.2f}")

# Part 1: Load the data and create a datetime index

In [2]:
df = pd.read_csv('Data/london_weather_MODIFIED - london_weather_MODIFIED.csv')
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.00,7.00,52.00,2.30,-4.10,-7.50,0.40,"101,900.00",9.00
1,19790102,6.00,1.70,27.00,1.60,-2.60,-7.50,0.00,"102,530.00",8.00
2,19790103,5.00,0.00,13.00,1.30,-2.80,-7.20,0.00,"102,050.00",4.00
3,19790104,8.00,0.00,13.00,-0.30,-2.60,-6.50,0.00,"100,840.00",2.00
4,19790105,6.00,2.00,29.00,5.60,-0.80,-1.40,0.00,"102,250.00",1.00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  int64
 1   cloud_cover       14938 non-null  float64
 2   sunshine          14957 non-null  float64
 3   global_radiation  14939 non-null  float64
 4   max_temp          14951 non-null  float64
 5   mean_temp         14922 non-null  float64
 6   min_temp          14955 non-null  float64
 7   precipitation     14951 non-null  float64
 8   pressure          14953 non-null  float64
 9   snow_depth        13589 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.2 MB

In [14]:
import datetime

today_datetime = datetime.datetime.today()
fmt = '%Y-%m-%d %H:%M'
formatted_date = today_datetime.strftime(fmt)

formatted_date

'2023-10-26 19:56'

In [15]:
df['date'][1500]

Timestamp('1970-01-01 00:00:00.019830209')

In [16]:
df['date'] = pd.to_datetime(df['date'],format=fmt)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  datetime64[ns]
 1   cloud_cover       14938 non-null  float64
 2   sunshine          14957 non-null  float64
 3   global_radiation  14939 non-null  float64
 4   max_temp          14951 non-null  float64
 5   mean_temp         14922 non-null  float64
 6   min_temp          14955 non-null  float64
 7   precipitation     14951 non-null  float64
 8   pressure          14953 non-null  float64
 9   snow_depth        13589 non-null  float64
dtypes: datetime64[ns](1), float64(9)
memory usage: 1.2 MB

In [17]:
## Setting the datetime index
df_ts = df.set_index('date')
df_ts.tail()

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1970-01-01 00:00:00.020201227,1.00,0.90,32.00,7.50,7.50,7.60,2.00,"98,000.00",NaN
1970-01-01 00:00:00.020201228,7.00,3.70,38.00,3.60,1.10,-1.30,0.20,"97,370.00",NaN
1970-01-01 00:00:00.020201229,7.00,0.00,21.00,4.10,2.60,1.10,0.00,"98,830.00",NaN
1970-01-01 00:00:00.020201230,6.00,0.40,22.00,5.60,2.70,-0.10,0.00,"100,200.00",NaN
1970-01-01 00:00:00.020201231,7.00,1.30,34.00,1.50,-0.80,-3.10,0.00,"100,500.00",NaN

In [18]:
df_ts.index

DatetimeIndex(['1970-01-01 00:00:00.019790101',
               '1970-01-01 00:00:00.019790102',
               '1970-01-01 00:00:00.019790103',
               '1970-01-01 00:00:00.019790104',
               '1970-01-01 00:00:00.019790105',
               '1970-01-01 00:00:00.019790106',
               '1970-01-01 00:00:00.019790107',
               '1970-01-01 00:00:00.019790108',
               '1970-01-01 00:00:00.019790109',
               '1970-01-01 00:00:00.019790110',
               ...
               '1970-01-01 00:00:00.020201222',
               '1970-01-01 00:00:00.020201223',
               '1970-01-01 00:00:00.020201224',
               '1970-01-01 00:00:00.020201225',
               '1970-01-01 00:00:00.020201226',
               '1970-01-01 00:00:00.020201227',
               '1970-01-01 00:00:00.020201228',
               '1970-01-01 00:00:00.020201229',
               '1970-01-01 00:00:00.020201230',
               '1970-01-01 00:00:00.020201231'],
              dtype='datetime64[ns]', name='date', length=15341, freq=None)

In [24]:
df_ts.loc['2000']

KeyError: '2000'